POSTGRES_PASSWORD=change-me
GITHUB_TOKEN=
MCPLAIN_JOBS_DIR=/absolute/path/to/mcplain/var/jobs
MCPLAIN_UID=1000
MCPLAIN_GID=1000
DOCKER_GID=1001
MCPLAIN_ATELIER_IMAGE=mcplain-atelier:dev
MCPLAIN_ATELIER_TIMEOUT=120
MCPLAIN_MAX_PARALLEL=2
MCPLAIN_DISPATCHER_ID=main
MCPLAIN_MAX_QUEUED=100
MCPLAIN_CORS_ORIGINS=http://localhost:3000
